// @import '../../fonts.css';

* {
    padding: 0;
    margin: 0;
    .card{
        padding : 0px ;
    }
    .main-header {
        background-color: #021526 !important;
        user-select: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        .center-div {

            .logo {
                font-family: Sevillana !important;
                font-size: 30px;
            }
        }

        .right-div {
            display: flex;
            align-items: center;
            justify-content: space-around;

            >ul {
                list-style: none;
                display: flex;
                align-items: center;
                text-transform: capitalize;

                >li {
                    cursor: pointer;
                    text-decoration: none;
                    color: black;
                    font-weight: 500;
                    display: flex;
                    margin-right: 20px;
                    margin-top: 5%;
                    a:hover{
                        color: #5C3C74 !important;
                    }
                }
            }
        }

        .left-div {
            display: flex;
            align-items: center;

            >a {
                background-color: #6EACDA;
                padding: 5px 10px;
                border-radius: 7px;

                display: flex;
                align-items: center;

                >p {
                    font-size: 17px;
                }
            }
        }
    }
    .first-section{
        background-image: url('../../public/slide/ai-generated-8866051_1920.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        div:nth-child(2){
            width: 700px;
            background-color: #333333c0 !important;

            padding: 20px;
            margin: 20px 10px;
            border-radius: 15px;
        }
    }
    .projects-section{
        .card {
            > .about{
                background-color: #eeeeee7d !important;
                height: 0 !important; 
                overflow: hidden;
                transition: 1s;
            }
            &:hover{
                > .about{
                    height: 100% !important; 
                    color: brown;
                }
            }
        }
    }
}