// @import '../../fonts.css';

* {
    padding: 0;
    margin: 0;

    .main-header {
        background-color: #021526 !important;
        user-select: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        .center-div {
            // position: absolute;
            // left: 10%;

            .logo {
                font-family: Sevillana !important;
                font-size: 30px;
            }
        }

        .right-div {
            display: flex;
            align-items: center;
            justify-content: space-around;

            >ul {
                list-style: none;
                display: flex;
                align-items: center;
                text-transform: capitalize;

                >li {
                    cursor: pointer;
                    text-decoration: none;
                    color: black;
                    font-weight: 500;
                    display: flex;
                    margin-right: 20px;
                    margin-top: 5%;
                }
            }
        }

        .left-div {
            display: flex;
            align-items: center;

            >a {
                background-color: #6EACDA;
                padding: 5px 10px;
                border-radius: 7px;

                display: flex;
                align-items: center;

                >p {
                    font-size: 17px;
                }
            }
        }
    }
    .projects-section{
        .card {
            > .about{
                background-color: #eeeeee7d !important;
                height: 0 !important; 
                overflow: hidden;
                transition: 1s;
            }
            &:hover{
                > .about{
                    height: 100% !important; 
                    color: brown;
                }
            }
        }
    }
}